/* ======================
   Estilos personalizados
   ====================== */

/* Asegura que el footer quede al fondo */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
